.service-img img{
    width: 380px;
    border-radius: 5px;
}
.service-container{
   border: 2px solid rgb(193, 190, 190);
   margin: 5px;
   padding: 5px;
   width: 400px;
   height: 500px;
   border-radius: 5px;
}

@media only screen and (max-width:520px) {

    .service-img img {
        margin-top: 5px;
        width: 300px;
        
    }
    .service-container {
        border: 2px solid rgb(193, 190, 190);
        margin: 5px;
        padding: 5px;
        width: 330px;
        height: 450px;
        border-radius: 5px;
    }

}